In [187]:
import pandas as pd
from datetime import datetime
df=pd.read_csv('weatherfile.csv')
#df = pd.read_csv(io.BytesIO(uploaded['WeatherFile.csv']))

In [188]:
df.columns

Index(['Date', 'Temperature_F', 'Avg_Humidity_Pct', 'Avg_Dewpoint_F',
       'Avg_Barometer_In', 'Avg_Windspeed_Mph', 'Avg_Gustspeed_Mph',
       'Avg_Direction_Deg', 'Rainfall_Month_In', 'Rainfall_Year_In',
       'Max_Rain_Per_Minute', 'Max_Temperature_F', 'Min_Temperature_F',
       ' Maximum humidity (%', ' Minimum humidity (%', 'Max_Pressure_In',
       'Min_Pressure_In', 'Max_Windspeed_Mph', 'Max_Gustspeed_Mph',
       'Max_Heat_Index_F', 'Date1', 'Month', 'Diff_Pressure'],
      dtype='object')

In [189]:
#to strip whitespaces if present from both end
df = df.apply(lambda x:x.str.strip())            
df.head()

,Date,Temperature_F,Avg_Humidity_Pct,Avg_Dewpoint_F,Avg_Barometer_In,Avg_Windspeed_Mph,Avg_Gustspeed_Mph,Avg_Direction_Deg,Rainfall_Month_In,Rainfall_Year_In,...,Maximum humidity (%,Minimum humidity (%,Max_Pressure_In,Min_Pressure_In,Max_Windspeed_Mph,Max_Gustspeed_Mph,Max_Heat_Index_F,Date1,Month,Diff_Pressure
0,2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02,'43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03,'25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04,'9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05,'23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'

In [190]:
#to strip unnecessary char from both ends
df = df.apply(lambda x:x.str.strip("';'"))

In [191]:
df.head()

,Date,Temperature_F,Avg_Humidity_Pct,Avg_Dewpoint_F,Avg_Barometer_In,Avg_Windspeed_Mph,Avg_Gustspeed_Mph,Avg_Direction_Deg,Rainfall_Month_In,Rainfall_Year_In,...,Maximum humidity (%,Minimum humidity (%,Max_Pressure_In,Min_Pressure_In,Max_Windspeed_Mph,Max_Gustspeed_Mph,Max_Heat_Index_F,Date1,Month,Diff_Pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991

In [192]:
#to rename columns
df.rename(columns={
  'Date': 'Date',
  ' Temperature': 'Average_temperature',
  ' Average humidity (%': 'Average_humidity',
  ' Average dewpoint (Â°F': 'Average_dewpoint',
  ' Average barometer (in': 'Average_barometer',
  ' Average windspeed (mph': 'Average_windspeed',
  ' Average gustspeed (mph': 'Average_gust_speed',
  ' Average direction (Â°deg': 'Average_direction_degree',
  ' Rainfall for month (in': 'Rainfall_for_month',
  'Rainfall for year (in': 'Rainfall_for_year',
  ' Maximum rain per minute': 'Maximum_rain_per_minute',
  ' Maximum temperature (Â°F': 'Maximum_temperature',
  ' Minimum temperature (Â°F': 'Minimum_temperature',
  ' Maximum humidity (%': 'Maximum_humidity',
  ' Minimum humidity (%': 'Minimum_humidity',
  ' Maximum pressure': 'Maximum_pressure',
  ' Minimum pressure': 'Minimum_pressure',
  ' Maximum windspeed (mph': 'Maximum_windspeed',
  ' Maximum gust speed (mph': 'Maximum_gust_speed',
  ' Maximum heat index (Â°F': 'Maximum_heat_index',
  'Date1': 'Date1',
  ' Month': 'Month',
  ' diff_pressure': 'Diff_pressure'
}, inplace=True)

In [209]:
#to check new column names
df.columns

Index(['Date', 'Temperature_F', 'Avg_Humidity_Pct', 'Avg_Dewpoint_F',
       'Avg_Barometer_In', 'Avg_Windspeed_Mph', 'Avg_Gustspeed_Mph',
       'Avg_Direction_Deg', 'Rainfall_Month_In', 'Rainfall_Year_In',
       'Max_Rain_Per_Minute', 'Max_Temperature_F', 'Min_Temperature_F',
       'Maximum_humidity', 'Minimum_humidity', 'Max_Pressure_In',
       'Min_Pressure_In', 'Max_Windspeed_Mph', 'Max_Gustspeed_Mph',
       'Max_Heat_Index_F', 'Diff_Pressure'],
      dtype='object')

In [194]:
#changing Date column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')
df['Date'].dtype

dtype('<M8[ns]')

In [210]:
df = df.drop(columns=['Max_Rain_Per_Minute'])

In [195]:
#to drop columns
df = df.drop(columns=['Date1', 'Month'])

In [196]:
exclude_col = ['Date']

In [197]:
# to  get a list of all column names, except for the excluded column
cols = [col for col in df.columns if col not in exclude_col]

In [198]:
df['Date'] = pd.to_datetime(df['Date'])
target_date = '2022-01-01'                         
target_date = pd.to_datetime(target_date)
index = df.index[df['Date'] == target_date].tolist()
new_year = 2021
max_year = 2033
df.shape[0]
print(df.at[2, 'Date'])


for i in range(df.index[0], df.shape[0]):
    if df.at[i, 'Date'] == target_date:
        new_year += 1
        #print(year)
        if new_year > max_year:
            break
    #x=str(df.at[i,'Date'])
    #y = x.split('-')
    #df.at[i,'Date']=x.replace(x[0], str(new_year))
    #print(df.at[i,'Date'])
    #print(x)
    df.at[i, 'Date'] = df.at[i, 'Date'].replace(year=new_year)
    #df.at[i,'Date'] = df.at[i,'Date'].apply(lambda x: x.replace(year = new_year))
    #x=x.replace(x.year,year)

2022-01-03 00:00:00

In [211]:
df.tail()

,Date,Temperature_F,Avg_Humidity_Pct,Avg_Dewpoint_F,Avg_Barometer_In,Avg_Windspeed_Mph,Avg_Gustspeed_Mph,Avg_Direction_Deg,Rainfall_Month_In,Rainfall_Year_In,Max_Temperature_F,Min_Temperature_F,Maximum_humidity,Minimum_humidity,Max_Pressure_In,Min_Pressure_In,Max_Windspeed_Mph,Max_Gustspeed_Mph,Max_Heat_Index_F,Diff_Pressure
3897,2033-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,74.9,55.3,86.0,35.0,29.686,29.577,15.0,25.3,77.4,0.10899999999999821
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,69.2,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5,0.13599999999999923
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,71.9,50.5,90.0,40.0,29.93,29.745,11.5,15.0,77.5,0.18499999999999872
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,77.3,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2,0.16000000000000014
3901,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,75.6,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,0.11700000000000088

In [200]:
df[df.duplicated()] #to show duplicate records

,Date,Temperature_F,Avg_Humidity_Pct,Avg_Dewpoint_F,Avg_Barometer_In,Avg_Windspeed_Mph,Avg_Gustspeed_Mph,Avg_Direction_Deg,Rainfall_Month_In,Rainfall_Year_In,...,Max_Temperature_F,Min_Temperature_F,Maximum_humidity,Minimum_humidity,Max_Pressure_In,Min_Pressure_In,Max_Windspeed_Mph,Max_Gustspeed_Mph,Max_Heat_Index_F,Diff_Pressure
3902,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,75.6,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,0.11700000000000088

In [201]:
#dropping all duplicates from df
df.drop_duplicates(inplace=True)
df.tail()

,Date,Temperature_F,Avg_Humidity_Pct,Avg_Dewpoint_F,Avg_Barometer_In,Avg_Windspeed_Mph,Avg_Gustspeed_Mph,Avg_Direction_Deg,Rainfall_Month_In,Rainfall_Year_In,...,Max_Temperature_F,Min_Temperature_F,Maximum_humidity,Minimum_humidity,Max_Pressure_In,Min_Pressure_In,Max_Windspeed_Mph,Max_Gustspeed_Mph,Max_Heat_Index_F,Diff_Pressure
3897,2033-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,74.9,55.3,86.0,35.0,29.686,29.577,15.0,25.3,77.4,0.10899999999999821
3898,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,69.2,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5,0.13599999999999923
3899,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,71.9,50.5,90.0,40.0,29.93,29.745,11.5,15.0,77.5,0.18499999999999872
3900,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,77.3,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2,0.16000000000000014
3901,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,75.6,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,0.11700000000000088

In [203]:
df.dtypes

Date                   datetime64[ns]
Temperature_F                  object
Avg_Humidity_Pct               object
Avg_Dewpoint_F                 object
Avg_Barometer_In               object
Avg_Windspeed_Mph              object
Avg_Gustspeed_Mph              object
Avg_Direction_Deg              object
Rainfall_Month_In              object
Rainfall_Year_In               object
Max_Rain_Per_Minute            object
Max_Temperature_F              object
Min_Temperature_F              object
Maximum_humidity               object
Minimum_humidity               object
Max_Pressure_In                object
Min_Pressure_In                object
Max_Windspeed_Mph              object
Max_Gustspeed_Mph              object
Max_Heat_Index_F               object
Diff_Pressure                  object
dtype: object

In [204]:
df.to_csv('weather_datasetcleaned1.csv', index=False, encoding='utf-8')